{% extends "common/geni_base.html" %}


{% block script %}

{{ block.super }}
	<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jqbrowser.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}scripts/download.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ MEDIA_URL}}scripts/qrcode.min.js"></script>
{% endblock script %}


{% block navigation %}
	<div id="navigator">
		<div id="tabs">
			<table>
				<tr>
				  {% block nav_getdonations %}
				  <td><a href="{% url 'installers' username %}">Donate Resources</a></td>
				  {% endblock nav_getdonations %}

				  {% block nav_help %}
				  <td><a href="{% url 'donations_help' username %}">Help</a></td>
				  {% endblock nav_help %}
				</tr>
			</table>
		</div>
	</div>
{% endblock navigation %}
