{% comment %}

<p class="warning">NOTE : This template expects a username variable to exist in the current context</p>

{% endcomment %}



        
			<table id="downloads">
				<tr id="android">
					<td><a href="{{ android }}"><img src="{{ MEDIA_URL }}images/android.png" alt="android" /></a></td>
					<td>
						<a href="{{ android }}">Download installer for Android</a>
						<p>
							<strong>Instructions:</strong>
						</p>
						<ol>
							<li>On your Android device, download {{ TESTBED }} Testbed via Google Play and add this url into the develop tab <a href="{{ android }}">{{ android }}</a>.)</li> 
							<li>(To save you some typing, you may scan the QR code that encodes the URL)
							<div id="qrcode"></div>
								<script type="text/javascript">
									new QRCode(document.getElementById("qrcode"), {
										text: "{{ android }}",
										width: 256,
										height: 256
										});
								</script>
							</li>
							<li>In the Google Play app, tap Install and review the requested permissions.</li> 
							<li>Start the app and follow the on-screen instructions to complete the installation. Depending on the speed of your device, the process can take a few minutes to finish.</li> 
						</ol>
						<br/>
						To check that {{ TESTBED }} is running, try running the {{ TESTBED }} On Android app!
					</td>
				</tr>
				<tr id="mac">
					<td><a href="{% url 'mac_installer' username %}"><img src="{{ MEDIA_URL }}images/mac.png" alt="mac" /></a></td>
					<td>
						<a href="{% url 'mac_installer' username %}">Download installer for Mac</a>
						<p>
							<strong>Instructions:</strong>
							<br />(Note: You must have Python 2.5, 2.6, or 2.7 installed)
						</p>
						<ol>
							<li>Download the {{ TESTBED }} tarball to your computer</li>
							<li>Extract the tarball to the directory in which you would like to install {{ TESTBED }}.</li>
							<li>Navigate to that directory and run <code>./install.sh</code> (or python seattleinstaller.py).</li>
						</ol>
						<br/>
						To check that {{ TESTBED }} is running, try running:
						<br/>
						<code> ps Aww | grep nmmain.py | grep -v grep</code>
					</td>
				</tr>
				<tr id="win">
					<td><a href="{% url 'win_installer' username %}"><img src="{{ MEDIA_URL }}images/windows.png" alt="windows" /></a></td>
					<td>
						<a href="{% url 'win_installer' username %}">Download installer for Windows</a>
						<p><strong>Instructions:</strong></p>
						<ol>
						<li>Download the {{ TESTBED }} zip file to your computer</li>
						<li>Extract the zip file to the directory in which you would like to install {{ TESTBED }}.</li>
						<li>Double click (or run from the command line) install.bat.</li>
						</ol>
						<br/>
						To check that {{ TESTBED }} is running, look in Task Manager for the process pythonw.exe.
					</td>
				</tr>
				<tr id="linux">
					<td><a href="{% url 'linux_installer' username %}"><img src="{{ MEDIA_URL }}images/linux.png" alt="linux" /></a></td>
					<td>
						<a href="{% url 'linux_installer' username %}">Download installer for Linux</a>
						<p>
							<strong>Instructions:</strong>
							<br />(Note: You must have Python 2.5, 2.6, or 2.7 installed)
						</p>
						<ol>
							<li>Download the {{ TESTBED }} tarball to your computer</li>
							<li>Extract the tarball to the directory in which you would like to install {{ TESTBED }}.</li>
							<li>Navigate to that directory and run <code>./install.sh</code> (or python seattleinstaller.py).</li>
						</ol>
						<br/>
						To check that {{ TESTBED }} is running, try running:
						<br/>
						<code> ps -ef | grep nmmain.py | grep -v grep</code>
						
					</td>
				</tr>
			</table>

