{% extends "control/control_base.html" %}


{% block title %}
Get Donations - {{ TESTBED }} {{ CLEARINGHOUSE }}
{% endblock title %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/download.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/download_installers.css" />
{% endblock style %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jqbrowser.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/download.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ MEDIA_URL}}scripts/qrcode.min.js"></script>
{% endblock script %}

{% block nav_getdonations %}
<td class="active"><a href="{% url 'getdonations' %}">Get Donations</a></td>
{% endblock nav_getdonations %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div>This address is your custom installer download URL. Use it when setting up Sensiblity Testbed on your Android device. (To save you some typing, you may scan the QR code that encodes the URL).</div>
			Andorid installer: <a class="share-url round_shadow" href={{ android }}>{{ android }}</a>
			<div id="qrcode"></div>
			<script type="text/javascript">
				new QRCode(document.getElementById("qrcode"), {
					text: "{{ android }}",
					width: 256,
					height: 256
				});
			</script>
			Mac installer: <a class="share-url round_shadow" href={{ mac }}>{{ mac }}</a><br>
			Linux installer: <a class="share-url round_shadow" href={{ linux }}>{{ linux }}</a>
		</div>
			
	</div>

{% endblock content %}
